---
import { Icon } from 'astro-icon/components';
import { Hide, SiteBrand, SiteTitle } from '~/config';

const brandClasses =
	SiteBrand.variant === 'text'
		? undefined
		: `${SiteBrand.widthClass} ${SiteBrand.heightClass}`;
---

{
	!Hide.includes('logo') ? (
		<a transition:persist href="/" aria-label="go to index" class:list={['site-brand', brandClasses]}>
			{
				SiteBrand.variant === 'icon' ? (
					<Icon name={SiteBrand.icon} title="go to index" class={brandClasses} />
				) : SiteBrand.variant === 'image' ? (
					<img
						src={SiteBrand.src}
						alt={SiteBrand.alt ?? SiteTitle}
						class:list={['site-brand__image', brandClasses]}
					/>
				) : (
					SiteTitle
				)
			}
		</a>
	) : (
		<div />
	)
}

<style>
	.site-brand {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		text-decoration: none;
		color: var(--color-text);
	}

	.site-brand__image {
		display: block;
		height: auto;
		max-width: 100%;
	}
</style>
