---
import { Hide, SiteDescription } from '~/config';
import { getEnabledSocialLinks } from '~/utils/socials';
import HeaderActions from './HeaderActions.astro';
import HeaderBrand from './HeaderBrand.astro';
import HeaderMobileMenu from './HeaderMobileMenu.astro';
import HeaderSocialLinks from './HeaderSocialLinks.astro';
import Nav from './Nav.astro';

interface Props {
	currentNav?: string;
}

const { currentNav } = Astro.props;
const socials = getEnabledSocialLinks();
---

<header class="relative grid grid-cols-2 items-start justify-between lg:flex">
	<HeaderBrand />
	<HeaderMobileMenu currentNav={currentNav} socials={socials} />
	<div class="col-span-2 hidden flex-col gap-3 text-center lg:flex lg:items-end">
		<div class="mb-[2dvh] flex flex-col items-center gap-3 lg:mb-7 lg:flex-row lg:gap-8">
			<Nav currentNav={currentNav} />
			<HeaderActions />
		</div>
		<Fragment transition:persist>
			{!Hide.includes('siteDescription') && <div>{SiteDescription}</div>}
			<div class="mt-[2dvh] lg:mt-0">
				<HeaderSocialLinks socials={socials} />
			</div>
		</Fragment>
	</div>
</header>
